body {
    background-color: #272727;
    text-align: center;
    font-family: Arial;
}

a {
    color: white;
}

.post a {
    color: red;
}

h4 {
    font-style: italic;
}

hr {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray"
}

h1 {
    color: white;
}

.post {
    background-color: white;
    width: 40%;
    margin: 0 auto;
    border-radius: 25px;}