body {
    text-align: center;
    font-family: Arial;
  }
  
  #amount {
    width: 40px;
    padding: 10px;
  }
  
  button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
    padding: 10px;
    margin: 15px;
    font-size: 20px;
    width: 25%;
  }