body {
    text-align: center;
    font-family: Arial;
  }
  
  input {
    font-size: 23px;
    margin-left: 15px;
    border: black 1px solid;
    background-color: lightgray;
    border-radius: 10px;
  }
  
  img {
    width: 50%;
    border-radius: 500px;
  }