.answer {
  background-color: red;
}

.solution {
  background-color: green;
}

table, tr, td, th {
  border: 1px solid black;
  border-collapse: collapse
}

td {
  padding: 5px;
}

a {
  margin: 30px;
}