body {
    text-align: center;
    font-family: Arial;
  background-color: #262626;
  color: white;
  }
  
  input {
    font-size: 23px;
    margin-left: 15px;
    margin-bottom: 15px;
    border: black 1px solid;
    background-color: lightgray;
    border-radius: 10px;
  }
  
  img {
    width: 50%;
    border-radius: 500px;
        border: black 1px solid;
        background-color: rgba(255,255,255,0.1);
      }